@import "tailwindcss";
@import "katex/dist/katex.min.css";
@plugin "@tailwindcss/typography";

.katex,
.katex-display,
.katex * {
  color: inherit !important;
  fill: currentColor !important;
  transition: none !important;
  -webkit-text-fill-color: currentColor !important;
}

.katex svg,
.katex svg * {
  fill: currentColor !important;
  stroke: currentColor !important;
}

@variant dark (&:where(.dark, .dark *));

/* Default to light theme variables */
.astro-code,
.astro-code span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

/* When .dark is present anywhere above the code block, switch to dark theme variables */
.dark .astro-code,
.dark .astro-code span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

.prose h1 {
  @apply text-2xl font-semibold text-slate-900 dark:text-white mb-4;
}
.prose h2 {
  @apply text-lg font-semibold text-slate-900 dark:text-white mb-4;
}